.marquee-Parent{
    padding-top: 2em;
    margin-top: 2em;
    margin-bottom: 4em;
    /* background-color: #F8F7F0; */
}
.marquee-text{
    font-family: "Signika", sans-serif;
    font-size: 5em;
    text-align: center;
    justify-content: center;
    font-weight: 800;
    color: #404A3D;
}
.star {
    font-family: "Signika", sans-serif;
    justify-content: center;
    align-items: center;
    color: #404A3D;
}
