.whoweare-left-img{
    background-image: url('https://media.istockphoto.com/id/487809726/photo/rabbits-eat.jpg?s=170667a&w=0&k=20&c=4g9LJolCkRpw-iU9RYSTxLgLGxtZ8UNY8b1PWEkQbgU=');
    background-size: cover;
    background-position: center;
    border-radius: 30px; 
}
.whoweare-parent{
    min-height: 100vh;
    padding-top: 5em;
    /* background-color: #F8F7F0; */
}
.whoweare-right-dev{
    padding: 5em 0em 5em 8em;
}
.whoweare-innerfa{
    color:#7BA171;
    font-size: 4em;
}
.whoweare-h3{
    color: #404A3D;
    font-weight: 500;
    font-size: 1.8em;
    font-family: "Signika", sans-serif;
    margin-top: 2em;
}
.whoweare-p{
    color: #6D6D6C;
    line-height: 26px;
}
